 <div  class="card shadow-sm">
          <img src="{{i.img}}" class="rounded float-start"  alt="{{i.nome}} ">
          <div class="card-body btn-group" >
                <h1 class="card-title "> {{i.nome}}</h1>
                  <button type="button" class="btn btn-secondary" >{{i.tipo0}}</button>
                  <button type="button" class="btn btn-secondary" >{{i.tipo1}}</button>
                  
            </div>
               <h3>Peso  {{i.peso}} lbs </h3> <br>
                <h3>Altura {{i.altura}} "</h3><br>
                <h3>Base stats </h3><br>
                 <hr>
                <h3>PvMax: </h3> 
               <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.pvMax}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                <h3>Ataque:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.ataque}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                <h3>Defesa:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.defesa}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                <h3>Ataque Esp.:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.ataque_especial}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                <h3>Defesa Esp.:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.defesa_especial}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                <h3>Velocidade:</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{i.velocidade}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
                 
    </div>
            
       </div>
         